body {
    margin: 0px;
    padding: 0px;
    background-color: floralwhite;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-size: 12px;
}

/*Fonts*/
h1{
    font-size: 72px;
    font-weight: bold;
    color: floralwhite;
}

h2{
    font-size: 60px;
    font-weight: bold;
    color: floralwhite;
}

h3{
    font-size: 48px;
    font-stretch: expanded;
}

p{
    font-size: 24px;
}

a{
    color: inherit;
    text-decoration: none;
}

.sbh1 {
    font-size: 36px;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: black;
}

.sbh2 {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
}

.sbh3 {
    font-size: 36px;
}

.navs1 {
    font-size: 36px;
    font-weight: lighter;
    color: floralwhite;
}

.navs2 {
    font-size: 36px;
    font-weight: lighter;
    color: white;
}

.credits {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    margin: 0;
}
/*End fonts*/


/* Navbar */

nav {
    width: 100%;
    background-color: forestgreen;
}

nav ul {
    margin: 0%;
    padding: 0%;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

ul li:hover{
    color: #ffeaa7;
}

h3 a:hover{
    color: #55efc4;
}

#Jus:hover{
    color: aqua;
}

#banner {
    background-color: black;
}

.tag{
    color: #f3ff95;
}

.slideshow {
    width: 100%;
    height: min-content;
    max-height: 60vh;
    overflow: hidden;
}

/* Slide animation */
@keyframes slideAnimation {
    0% { left: 0%; }
    12.5% { left: 100%; }
    25% { left: 200%; }
    37.5% { left: 300%; }
    50% { left: 400%; }
    62.5% { left: 300%; }
    75% { left: 200%; }
    87.5% { left: 100%; }
    100% { left: 0%; }
}

@-webkit-keyframes slideAnimation {
    0% { left: 0%; }
    12.5% { left: 100%; }
    25% { left: 200%; }
    37.5% { left: 300%; }
    50% { left: 400%; }
    62.5% { left: 300%; }
    75% { left: 200%; }
    87.5% { left: 100%; }
    100% { left: 0%; }
}

.gallery{
    width: 500%;
    display: flex;
    margin: 0 0 0 -400%;
    position: relative;
    -webkit-animation-name: slideAnimation;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.5);
}

.imageContainer img{
    width: 100%;
    position: relative;
    float: left;
    opacity: 0.7;
}

/*Banner text*/
#banner .text{
    position: absolute;
    top: 20%;
    right: 5%;
    line-height: 20px;
}

main{
    text-align: center;
}

/* Services */

#services{
    background-image: url("../images/serBack.jpg");
    background-attachment: fixed;
}

#services .gridContainer {
	background-color: hsla(40, 100%, 97%, 0.8);
}

.serContainer{
    padding: 10px;
}

.serText{
    font-size: 28px;
    padding-left: 10px;
}

.serText2{
    font-size: 28px;
    padding-right: 10px;
    text-align: right;
}

.serImage img{
    width: 100%;
    opacity: 1.0;
}

.centering{
    text-align: center;
}

#contact{
    color: floralwhite;
    background-color: #74b9ff;
}

.centContainer{
    display: flex;
    padding: 8px 8%;
    align-items: center;
}

#aboutus img{
    width: 10%;
    height: 10%;
    padding-right: 20px;
}

#quote{
    border: 2px solid white;
    background-color: #0984e3;
    color: white;
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 10px;
}

#quote:hover{
    border-color: #81ecec;
    color: #81ecec;
}

footer{
    background-color: #636e72;
    text-align: center;
    padding: 8px 0%;
}

.navs2 ul, .credits{
    margin: 0px;
    padding: 5px 5px 10px 5px;
}

/* @media screen and (min-width: 768px) and (min-height: 1000px) {
    #banner .text {
        top: 10%;
    }
} */

@media screen and (max-width: 1024px) {
    #banner .text {
        top: 15%;
    }
}

@media screen and (max-width: 768px) {
    #banner .text {
        top: 10%;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 42px;
    }

    h3 {
        font-size: 36px;
    }

    .navs1, .navs2 {
        font-size: 28px;
    }

    main {
        padding: 0% 20px;
    }

    #contact {
        padding: 0% 20px;
    }

    #contact br:nth-child(6) {
        display: none;
    }

    .sbh2 {
        font-size: 36px;
    }

    #aboutus .sbh3 {
        font-size: 32px;
    }
}

@media screen and (max-width: 560px) {
    #banner .text {
        top: 6%;
        line-height: 15px;
    }

    h1 {
        font-size: 36px;
    }

    h2, .sbh2 {
        font-size: 32px;
    }

    h3, .sbh3 {
        font-size: 24px;
    }

    p {
        font-size: 20px;
    }

    .navs1, .navs2, .credits {
        font-size: 20px;
    }

    .sbh1 {
        font-size: 28px;
    }

    .serImage {
        width: 75%;
        margin: auto;
    }

    .centering h3 {
        font-size: 32px;
    }

    #aboutus .sbh3 {
        font-size: 24px;
    }
}